.DS_Store
.idea
*.log
tmp/


.cache/
analysis.cpython-38-x86_64-linux-gnu.so
analysis.cpython-39-x86_64-linux-gnu.so
compile_commands.json
flamegraph.svg
out.gz
out_50k.gz
out_long.gz
perf.data
perf.data.old
sender
*.gz
*.pdf
